.container, .container1 {
   width: 70%;
   border: solid 10px gray;
   background-color: antiquewhite;
   height: 200px;
}

@media (min-width:600px){
   .container {
      height: 400px;
      border-radius: 50%;
   }
}


@media (max-width:700px){
   .container1{
      background-color: aqua;
      border: dotted 20px red;
   }
}
